* {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
}

body {
	background-color: #181818;
}

.game {
	height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.tile {
	width: 330px;
	margin-bottom: 30px;
}
.tile div {
	display: flex;
}
.tile .words {
    width: 62px;
    height: 62px;
    border: 2px solid #3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
	font-weight: 1000;
}
.tile .flip {
	animation: 0.5s linear flipping;
}
@keyframes flipping {
	0% {
		transform: rotateX(0deg);
	}
	50% {
		transform: rotateX(90deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}

.tile .green {
	background-color: #538d4e !important;
	border:none !important;
}
.tile .yellow {
	background-color: #b59f3b !important;
	border:none !important;
}
.tile .grey {
	background-color: #939598 !important;
	border:none !important;
}